{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'todolist/list.css' %}">
    <title>{{mylist.title}}</title>
  </head>
  <body>
  <!-- icon's link:https://www.flaticon.com/free-icon/home_25694 -->
  <a href="{% url 'view' %}"><img src="{% static 'todolist/home.png' %}" style="position: fixed; left:3px;top:5px;"></a>
  <!-- icon's link:https://www.flaticon.com/premium-icon/log-out_5565346?term=log%20out&page=1&position=10&page=1&position=10&related_id=5565346&origin=search -->
  <a href="{% url 'signout' %}"><img src="{% static 'todolist/log-out.png' %}" style="position: fixed; left:3px;top: 40px"></a>
    <form method="post" action='#'>
      {% csrf_token %}
      <div class="app-container d-flex align-items-center justify-content-center flex-column">
        Todo App
        <h3><b>{{mylist.title}}</b></h3>
        <div class="d-flex align-items-center mb-3">
          <div class="form-group mr-3 mb-0">
            <input type="text" name="newItem" class="form-control" id="formGroupExampleInput" placeholder="Enter a task here"/>
          </div>
          <button type="submit" name="addItem" value="addItem" class="btn btn-primary mr-3">
            Add
          </button>
          <button type="submit" name="save" value="save" class="btn btn-warning">
            Save Changes
          </button>
        </div>
        <div class="table-wrapper">
          <table class="table table-hover table-bordered">
            <thead style="background-color: #ffa701;">
              <tr>
                <th>No.</th>
                <th>Todo item</th>
                <th>status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody style="background-color: white;">
              {% for item in mylist.item_set.all %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>
                    {{item.text}}
                  </td>
                  {% if item.is_complete == True %}
                    <td>Finished</td>
                    <td>
                      <input type="checkbox" value="clicked" name="c{{item.id}}" checked>
                      <button type="submit" name="delThis" value="{{item.id}}" class="btn btn-danger">
                        Delete
                      </button>
                    </td>
                  {% else %}
                    <td>In Progress</td>
                    <td>
                      <input type="checkbox" value="clicked" name="c{{item.id}}">
                      <button type="submit" name="delThis" value="{{item.id}}" class="btn btn-danger">
                        Delete
                      </button>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </body>
  <!-- Download this template here: https://codepen.io/jagathgj/pen/ZEGXqgd -->
</html>
