{% extends "todolist/main.html" %}

{% block title %}{{mylist.name}}{% endblock %}

{% block content %}
	<form method="post" action='#'>
		{% csrf_token %}
		{% for item in mylist.item_set.all %}
			{% if item.is_complete == True %}
				<input type="checkbox" value="clicked" name="c{{item.id}}" checked>
			{% else %}
				<input type="checkbox" value="clicked" name="c{{item.id}}">
			{% endif %}
			<input type="text" value="{{item.text}}" name="i{{item.text}}">
			<button type="submit" name="delThis" value="{{item.id}}" >remove</button>
			<br>
		{% endfor %}
			<br>
		<button type="submit" name="save" value="save">Save Changes</button>
		<input type="text" name="newItem">
		<button type="submit" name="addItem" value="addItem">Add Item</button>
	</form>
{% endblock %}