{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="{% static 'todolist/list.css' %}">
	<title>Lists</title>
</head>
<body>
	<div class="app-container d-flex align-items-center justify-content-center flex-column">
		Todo App
		<h3><b>{{mylist.username}}'s Account</b></h3>
		<div class="d-flex align-items-center mb-3">
			<form method="post" action="{% url 'view' %}">
				{% csrf_token %}
				<div class="form-group mr-3 mb-0">
					<input type="text" name="newItem" class="form-control" id="formGroupExampleInput" placeholder="Enter a list name here"/>
				</div>
				<button type="submit" class="btn btn-primary mr-3">Add</button>
			</form>
		</div>
		<div class="table-wrapper">
			<table class="table table-hover table-bordered">
			<thead style="background-color: #ffa701;">
				<tr>
					<th>Todolists</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody style="background-color: white;">
				<form method="get" action="{% url 'delList' %}">
					{% for x in mylist.todo_set.all %}
						<tr>
							<td><a href="/view/{{x.id}}">{{x}}</a></td>
							<td><button name="delThis" type="submit" value="{{x.id}}" 	class="btn btn-danger">Delete</button></td>
						</tr>
					{% endfor %}
				</form>
			</tbody>
			</table>
		</div>
		<button onclick="window.location.href='/signout'" class="btn btn-warning">Logout Account</button>
	</div>
</body>
</html>